a {
    text-decoration: none;
}
p {
    margin: 0%;
}
input {
    padding: 0px;
    border: none;
}
.top {
    background-color:rgb(245,245,245);
}
.bottom {
    height:90px;
    margin-top: 30px;
}
.page-top {
    height: 48px; 
    background-color:rgb(51,51,51); 
}
.page-top-content {
    height: 48px;
    width:1080px;
    margin: auto;
}
.page-top-content span {
    float: right;
    font-weight: 200;
    line-height: 48px;
    margin-left: 10px;
    color:rgb(231,231,231);
}
.page-top-content a {
    float: right;
    line-height: 48px;
    margin-left: 10px;
    color:rgb(231,231,231);
}
.page-top-content a:hover {
    color:white;
}
.guide {
    height:56px;
    margin-top: 20px;
    background-color:rgb(245,245,245);
    position: sticky;
    top:0px;
}
.guide-content {
    width:1080px;
    margin: auto; 
}
.logo {
    float:left;
    height:41px;
    width:123px;
    margin: 5px 96px 10px 0px;/*上右下左 */
    background-size: 100%;
    background-image: url(https://cdn.cnbj1.fds.api.mi-img.com/youpin-pc/production/YouPin_PC/static3/media/logo.8cef1e8f.png);
}
.guide-category {
    float:left;
    height:46px;
    width:500px;
    margin-top: 5px;
}
.guide-category a{
    float: left;
    margin-right: 24px;
    line-height: 51px;
    color:rgb(102, 102, 102);
    font-size:18px;
}
.guide-category a:hover{
    color:rgb(159,128,82);
}
.search {
    float:right;
    margin-top: 16px;
    width: 340px;
    height:30px;
    border-bottom:1px solid rgb(212, 212, 212);
}
.search-button {
    float :left;
    width: 30px;
    height:30px;
    cursor: pointer;
}
.search-button:hover {
    border-bottom:1.8px solid rgb(159,128,82);
}
.search-text
{
    float :left;
    width: 310px ;
    color:rgb(96,96,96);
    outline: none;
    line-height: 30px;
    font-size: 14px;
}
.search-text:focus {
    border-bottom:1.8px solid rgb(159,128,82);
}
input::-webkit-input-placeholder {
    color: rgb(182, 182, 182)
}
.banner {
    height: 590px;
    width: 1080px;
    margin: auto;
    margin-top: 24px;
}
.banner img {
    height:540px;
    width:540px;
}
.information {
    float:right;
    width:540px;
    margin-top: 24px;
}
.titlebox {
    line-height: 24px;
    height: 24px;
    margin-top: 12px;
}
.titlebox img {
    float: left;
    height: 24px;
    width: 72px;
    margin-right: 8px;
}
.title {
    float: left;
    color:black;
    font-size: 20px;
}
.feature{
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    margin-top: 12px;
    color: #999;
}
.pricebox {
    margin-top: 10px;
    height:42px;
    line-height: 42px;
    padding-top: 12px;
    background-color: rgb(245,245,245);
}
.h-price {
    font-size:12px ;
    color: rgb(96,96,96);
    margin-left: 10px;
}
.current-price {
    margin-left: 20px;
    font-size: 28px;
    color: #a92112;
}
.original-price {
    font-size: 14px;
    color:rgb(182, 182, 182);
    text-decoration: line-through;
    margin-left: 12px;
}
.servicebox {
    background-color: rgb(245,245,245);
    padding-top: 10px;
    padding-bottom:12px;
    margin-bottom: 24px;
}
.h-service {
    float: left;
    font-size: 12px;
    color: rgb(96,96,96);
    margin-top: 4px;
    margin-left: 10px;
}
.service-content {
    margin-left: 56px;
    width:484px;
}
.service {
    display: inline-block;
    font-size:16px;
    height: 36px;
    color: rgb(96,96,96);
    margin-right: 12px;
}
.service img {
    width:20px;
    height:20px;
    vertical-align: bottom;
}
.type {
    line-height: 34px;
    font-size: 14px;
    color:rgb(51,51,51);
    float: left;
}
.version {
    margin-top: 12px;
}
.version div {
    width:472px;
    margin-left: 68px;

}
.version a {
    color:rgb(51,51,51);
    font-size: 16px;
    display: inline-block;
    line-height:34px;
    text-align: center;
    border:1px solid rgb(212, 212, 212);
    margin-right: 12px;
    margin-bottom: 12px;
}
.version div :first-child {
    border:1px solid rgb(159,128,82);
    color:rgb(159,128,82);
}
.sd-option a {
    width: 120px;
}
.colour-option a {
    width: 80px;
}
.num {
    height:34px;
    margin-top: 24px;
}
.num .type {
    margin-right: 40px;
}
.plus-minus {
    color:rgb(159,128,82);
    font-size: 28px;
    font-weight: 200;
    line-height: 28px;
    height:32px;
    float: left;
    width: 32px;
    text-align: center;
    border:1px solid rgb(212, 212, 212);
}
.num input{
    float: left;
    width: 64px;
    height: 32px;
    outline: none;
    border-top:1px solid rgb(212, 212, 212);
    border-bottom:1px solid rgb(212, 212, 212);
    text-align: center;
}
.count {
    margin-left: 80px;
    display: inline-block;
}
.total-price{
    line-height: 34px;
    font-size: 18px;
    color:#a92112;
    margin-left: -32px;
}
.buy {
    margin-top: 32px;
}
.buy a {
    display: inline-block;
    width:160px;
    margin-right: 48px;
    line-height: 60px;
    font-size: 20px;
    text-align: center;
}
.later {
    border:1px solid rgb(159,128,82);
    background-color:rgb(159,128,82);
    color:white;
} 
.later:hover {
    background-color:rgb(209,191,166);
    border:1px solid rgb(209,191,166);
}
.now {
    background-color:white;
    border:1px solid rgb(159,128,82);
    color:rgb(159,128,82);
}
.now:hover {
    background-color:rgb(159,128,82);
    color:white;
}
.introduce {
    width:1080px;
    margin: auto;
    margin-top: 30px;
}
.classify {
    height: 80px;
    background-color:rgb(245,245,245);;
    border-top:1px solid rgb(212, 212, 212);
}
.classify a {
    margin-left: 96px;
    font-size: 16px;
    line-height: 80px;
    color: rgb(96,96,96);
}
.classify a:hover {
    color:rgb(159,128,82);
}
.introduce img {
    width: 1080px;
}